body{
    background-color: hsl(212, 45%, 89%);
}

img{
    position: relative;
    bottom: 20px;
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

h2{
    font-family: 'Outfit', sans-serif;
    width: 85%;
    margin: 20px auto;
}

p{
    font-size: 15px;
    color: rgb(173, 173, 173);
    width: 85%;
    margin: 20px auto;
}

.block{
    text-align: center;
    background-color: white;
    margin: 100px auto;
    padding-top: 30px;
    width: 19%;
    border-radius: 20px;
    height: 450px;
}